html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map-canvas {
  height: 100%;
  width: 900px;
  float: left;
}

#tools {
  height: 100%;
  overflow-y: scroll;
}

#businfodisplay {
/*
  overflow-y: scroll;
*/
}
